<% content_for :title, "Quests" %>
<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Quests</h1>
    <%= render "form", quest: @quest %>
    <%= render partial: "quest", collection: @quests, as: :quest %>
  </div>
</div>
